.ui-checkbox-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.ui-checkbox-label {
	font-size: 14px;
	line-height: calc(1.25 / 0.875);
	font-weight: 500;
	font-family: var(--font-label);
	color: var(--color-label);
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}

.ui-checkbox-button {
	width: 18px;
	height: 18px;
	border: none;
	border-radius: 4px;
	box-shadow: var(--shadow-input-select-border);
	background: transparent;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease;
	position: relative;
}

.ui-checkbox-button[aria-checked='true'] {
	background: #e5e5e5;
	color: #000;
}

.ui-checkbox-button:focus {
	/* outline: 2px solid var(--color-accent-blue); */
	outline-offset: 2px;
}

.ui-checkbox-button svg {
	pointer-events: none;
}
