.custom-select-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 6px;
	position: relative;
}

.custom-select-label {
	font-size: 14px;
	line-height: calc(1.25 / 0.875);
	font-weight: 500;
	font-family: var(--font-label);
	color: var(--color-label);
}

.custom-select-trigger {
	height: 36px;
	width: 100%;
	padding: 7px 14px;
	border-radius: 10px;
	border: none;
	background: var(--color-input-background);
	color: var(--color-input-color);
	font-size: 14px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	transition: all 0.25s ease;
	box-shadow: var(--shadow-input-select-border);
}

.custom-select-trigger svg {
	color: #b9b9b9;
	transition: transform 0.25s ease;
}

.custom-select-trigger svg.rotate {
	transform: rotate(180deg);
}

.custom-select-trigger:hover {
	background-color: var(--color-select-dowpdown-hover-bg);
}

.custom-select-trigger .placeholder {
	color: var(--color-text-muted);
}

.custom-select-dropdown {
	position: absolute;
	top: calc(100% + 8px);
	left: 0;
	width: 100%;
	background: var(--color-select-dropdown-bg);
	border-radius: 12px;
	box-shadow: var(--shadow-input-select-border);
	z-index: 20;
	max-height: 240px;
	overflow-y: auto;
	padding: 5px 4px;
}

.custom-select-option {
	padding: 8px;
	font-size: 13px;
	font-weight: 400;
	color: var(--color-text-main);
	cursor: pointer;
	border-radius: 7px;
	transition: all 0.2s ease;
}

.custom-select-option:last-child {
	margin-bottom: 0;
}

.custom-select-option:hover {
	background: var(--color-select-option-hover-bg);
	/* color: var(--color-select-chosen-text-color); */
	color: var(--color-text-main);
}
/* Only apply hover styles for devices that support hover */
@media (hover: hover) and (pointer: fine) {
	.custom-select-trigger:hover {
		background-color: var(--color-select-dowpdown-hover-bg);
	}
}
