.modal-overlay {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0);
	transition: background 0.3s ease;
	z-index: 1000;
}
.modal-overlay.show {
	background: rgba(0, 0, 0, 0.35);
}

.modal-content {
	transform: translateY(-10px) scale(0.98);
	opacity: 0;
	transition: transform 0.35s ease, opacity 0.35s ease;
}

.modal-content.animate {
	transform: translateY(0) scale(1);
	opacity: 1;
}

@media screen and (max-width: 470px) {
	.modal-overlay {
		height: 100%;
		align-items: flex-end;
	}
}
