/* ===== TRANSACTION ITEMS ===== */
.transaction-item {
	display: flex;
	align-items: center;
	background: var(--color-bg-card);
	border-radius: 18px;
	box-shadow: var(--shadow-card);
	/* box-shadow: var(--shadow-input-select-border); */
	transition: all 0.3s ease;
	overflow: hidden;
	cursor: pointer;
	height: 72px;
	margin-bottom: 20px;
}

.transaction-item:hover {
	background: var(--color-bg-card);
	box-shadow: var(--shadow-card-hover);
}

/* ===== ICON BLOCK ===== */
.transaction-icon-block {
	width: 72px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	color: var(--color-button-text);
}

.transaction-icon-block.income {
	background: var(--color-card-income-bg);
	color: #27ae60;
}

.transaction-icon-block.expense {
	background: var(--color-card-expense-bg);
	color: #e74c3c;
}

/* ===== CONTENT ===== */
.transaction-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 16px;
	flex: 1;
}

.transaction-category {
	font-weight: 600;
	color: #4f9cff;
}

.transaction-note {
	font-size: 14px;
	color: #aaa;
	text-transform: capitalize;
}

.transaction-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	padding-right: 16px;
	gap: 4px;
}

.transaction-amount {
	font-weight: 700;
	color: #27ae60;
}

.transaction-item.expense .transaction-amount {
	color: #e74c3c;
}

.transaction-date {
	font-size: 12px;
	color: #888;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 480px) {
	.transaction-item {
		height: 64px;
	}
	.transaction-icon-block {
		width: 64px;
	}
	.transaction-note {
		font-size: 13px;
	}
}
