.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	border: none;
	border-radius: 12px;
	color: var(--color-text-main);
	background-color: var(--color-input-background);
	cursor: pointer;
	transition: all 0.3s ease;
	box-shadow: var(--shadow-input-select-border);
}

.btn:hover {
	background-color: var(--color-bg-input);
}

/* 
.btn {
	padding: 0.6rem 1.2rem;
	background-color: var(--color-primary);
	color: white;
	border: none;
	border-radius: 0.375rem;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.btn:hover {
	background-color: var(--color-primary-hover);
} */
