.settings-page {
	min-height: 100vh;
	width: 100%;
	background: var(--color-bg);
	color: #fff;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.settings-header {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 32px;
}

.settings-header h2 {
	font-size: 26px;
	font-weight: 700;
	color: var(--color-text-title);
}

.settings-content {
	width: 100%;
	/* max-width: 800px; */
	display: flex;
	flex-direction: column;
	gap: 28px;
}

.settings-section {
	background: var(--color-bg-card);
	border-radius: 18px;
	padding: 24px;
	box-shadow: var(--shadow-card);
}

.settings-section h3 {
	font-size: 18px;
	color: var(--color-text-title);
	margin-bottom: 18px;
	border-bottom: 1px solid #2f2f2f;
	padding-bottom: 8px;
}

.settings-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0;
}

.item-info {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.item-info span {
	font-weight: 600;
	color: var(--color-text-main);
}

.item-info p {
	font-size: 14px;
	color: var(--color-text-muted);
}

.theme-toggle {
	display: flex;
	gap: 10px;
}

.theme-btn {
	padding: 10px 12px;
	border-radius: 12px;
	border: none;
	cursor: pointer;
	background: var(--color-bg-input);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-text-main);
	transition: all 0.3s ease;
}

.theme-btn.light:hover {
	background: var(--color-primary-hover);
	color: var(--color-text-main);
}

.theme-btn.dark:hover {
	background: var(--color-primary-hover);
	color: #fff;
}

.logout-btn {
	padding: 8px 16px;
	background-color: var(--color-button-bg);
	color: var(--color-btn-text);
	border: none;
	box-shadow: var(--shadow-input-select-border);
	cursor: pointer;
	transition: all 0.3s ease;
}

.logout-btn:hover {
	background-color: var(--color-button-bg-hover);
}

.download-btn {
	padding: 8px 16px;
	background-color: var(--color-button-bg);
	color: var(--color-btn-text);
	border: none;
	box-shadow: var(--shadow-input-select-border);
	cursor: pointer;
	transition: all 0.3s ease;
}

.download-btn:hover {
	background-color: var(--color-button-bg-hover);
}

.theme-toggle .theme-btn {
	opacity: 0.6;
	transition: all 0.3s ease;
}

.theme-toggle .theme-btn.active {
	opacity: 1;
	transform: scale(1.05);
	box-shadow: var(--shadow-card);
	background-color: var(--color-primary);
	color: #fff;
}

@media (max-width: 480px) {
	.settings-section {
		padding: 18px;
	}

	.settings-header h2 {
		font-size: 22px;
	}

	.item-info p {
		font-size: 13px;
	}
}
