.transaction-list {
	width: 100%;
	max-width: 650px;
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	font-family: 'Inter', sans-serif;
}

.transaction-list h2 {
	font-size: 22px;
	font-weight: 700;
	color: var(--color-text-main);
	text-align: left;
	margin-bottom: 8px;
}

/* ===== COMBINED FILTER TOGGLE ===== */
.filter-toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color-bg-card);
	border: 2px solid var(--color-border);
	border-radius: 30px;
	overflow: hidden;
	/* width: fit-content; */
	width: 100%;
	margin: 0 auto 24px;
}

.toggle-btn {
	padding: 14px 32px;
	border: none;
	background: transparent;
	color: var(--color-text-main);
	cursor: pointer;
	font-weight: 600;
	font-size: 15px;
	transition: background 0.3s ease, color 0.3s ease;
	width: 100%;
}

.toggle-btn:first-child {
	border-right: 1px solid #333;
}

.toggle-btn.active {
	background: var(--color-accent-black);
	color: #fff;
}

.no-transactions {
	text-align: center;
	color: #777;
	font-size: 16px;
}

/* ===== TRANSACTION ITEMS ===== */
.transaction-items {
	display: flex;
	flex-direction: column;
	gap: 12px;
	overflow-y: auto;
	padding-right: 8px;
}

.transaction-items::-webkit-scrollbar {
	width: 6px;
}

.transaction-items::-webkit-scrollbar-thumb {
	background-color: var(--color-bg-input);
	border-radius: 6px;
}

.see-more-link-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.transaction-see-more-link {
	padding: 8px 10px;
	color: var(--color-accent-blue);
	box-shadow: var(--shadow-input-select-border);
	text-decoration: none;
	cursor: pointer;
	transition: color 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 480px) {
	.transaction-list h2 {
		font-size: 20px;
	}
}
