.transaction-list {
	width: 100%;
	max-width: 650px;
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	font-family: 'Inter', sans-serif;
}

.transaction-list h2 {
	font-size: 22px;
	font-weight: 700;
	color: var(--color-text-main);
	text-align: left;
	/* margin-bottom: 8px; */
}

/* ===== TRANSACTION ITEMS ===== */
.transaction-items {
	display: flex;
	flex-direction: column;
	gap: 12px;
	overflow-y: auto;
	padding-right: 8px;
}

.transaction-items::-webkit-scrollbar {
	width: 6px;
}

.transaction-items::-webkit-scrollbar-thumb {
	background-color: var(--color-bg-input);
	border-radius: 6px;
}

.see-more-link-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.transaction-see-more-link {
	padding: 8px 10px;
	color: var(--color-accent-blue);
	box-shadow: var(--shadow-input-select-border);
	text-decoration: none;
	cursor: pointer;
	transition: color 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 480px) {
	.transaction-list h2 {
		font-size: 20px;
	}
}
