@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root.dark {
	--color-bg: #121212;
	--color-bg-card: #1a1a1a;
	--color-bg-input: #2a2a2a;
	--color-bg-hover: #242424;
	--color-bg-modal: #121212;

	--color-primary: #e58e27;
	--color-primary-hover: #f0a63a;
	--color-accent-blue: #4f9cff;
	--color-accent-green: #2e7d32;
	--color-accent-green-hover: #388e3c;
	--color-accent-red: #c62828;
	--color-accent-red-hover: #d32f2f;

	--color-card-income-bg: #1f5132;
	--color-card-expense-bg: #5c1f1f;

	--color-text-main: #ffffff;
	--color-text-secondary: #cfcfcf;
	--color-text-muted: #888;
	--color-text-title: #f0f0f0;
	--color-text-balance: #f2f2f2;

	/* Button */
	--color-button-bg: #151515;
	--color-btn-text: #d4d4d4;
	--color-button-bg-hover: #1c1c1c;

	/* Custom input and select */
	--color-label: #fafafa;
	--font-label: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	--color-input-border-focus: 0 0 0 3px #454545;
	--color-input-color: #fafafa;
	--color-input-background: #151515;
	--shadow-input-select-border: 0 0 0 1px #383838;

	--color-select-chosen-text-color: #d4d4d4;
	--color-select-dropdown-bg: #262626;
	--color-select-dowpdown-hover-bg: #1c1c1c;
	--color-select-option-hover-bg: #404040;

	--color-border: #333;
	--shadow-card: 0 10px 40px rgba(0, 0, 0, 0.5);
	--shadow-card-hover: 0 4px 12px rgba(0, 0, 0, 0.5);

	--shadow-color-accent-green: 0px 0px 15px 2px rgba(46, 125, 50, 0.4);
	--shadow-color-accent-red: 0px 0px 15px 2px rgba(198, 40, 40, 0.4);

	--color-success: #27ae60;
	--color-error: #e74c3c;
	--color-error-bg: rgba(255, 107, 107, 0.1);

	--color-glass: rgba(0, 0, 0, 0.65);
	--color-gray-translucent: #ccc3;

	--color-accent-black: #e58e27;

	--animation-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	--skeleton-background: #404040;
}

:root.light {
	--color-bg: #f8f9fa;
	--color-bg-card: #ffffff;
	--color-bg-input: #f0f0f0;
	--color-bg-hover: #e0e0e0;
	--color-bg-modal: #ffffff;

	/* --color-primary: #e58e27; */

	/* Button */
	--color-button-bg: transparent;
	--color-btn-text: #262626;
	--color-button-bg-hover: #f5f5f5;

	/* Custom input and select */
	--color-label: #0a0a0a;
	--font-label: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	--color-input-border-focus: 0 0 0 3px #e5e5e5;
	--color-input-color: #a1a1a1;
	--color-input-background: transparent;
	--shadow-input-select-border: 0 0 0 1px #e5e5e5;

	--color-select-chosen-text-color: #0000;
	--color-select-dropdown-bg: #fff;
	--color-select-option-hover-bg: #f5f5f5;

	--color-primary-hover: #555;
	--color-primary: #333;

	--color-text-main: #222222;
	--color-text-secondary: #555555;
	--color-text-muted: #888888;
	--color-text-title: #111111;
	--color-button-text: #ffffff;

	--color-border: #444;

	--color-success: #27ae60;
	--color-error: #e74c3c;

	--color-accent-blue: #4f9cff;
	--color-accent-green: #2e7d32;
	--color-accent-green-hover: #388e3c;
	--color-accent-red: #c62828;
	--color-accent-red-hover: #d32f2f;
	--color-accent-black: #333;

	--color-card-income-bg: #23623b;
	--color-card-expense-bg: #8b2727;

	--shadow-color-accent-green: 0px 0px 15px 2px rgba(46, 125, 50, 0.4);
	--shadow-color-accent-red: 0px 0px 15px 2px rgba(198, 40, 40, 0.4);

	--animation-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	--skeleton-background: #f5f5f5;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: var(--color-bg);
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	background: var(--color-bg-dark);
	color: var(--color-text);
	transition: all 0.3s ease;
	scrollbar-width: thin;
	scrollbar-color: #2a2a2a #0f0f0f;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 1.5rem;
}

.btn {
	padding: 0.6rem 1.2rem;
	background-color: var(--color-primary);
	color: white;
	border: none;
	border-radius: 0.375rem;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.btn:hover {
	background-color: var(--color-primary-hover);
}

.card {
	background: var(--color-accent);
	border: 1px solid var(--color-border);
	border-radius: 0.5rem;
	padding: 1rem;
	margin-bottom: 1rem;
}

.text-sm {
	font-size: 0.875rem;
	line-height: calc(1.25 / 0.875);
	font-weight: 500;
}

.rounded-md {
	/* border-radius: 0.375rem (); */
	border-radius: 8px;
}

/* Animations */
@keyframes modalSlideUp {
	from {
		opacity: 0;
		transform: translateY(120%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes overlayFade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes modalFadeScale {
	from {
		opacity: 0;
		transform: translateY(-6px) scale(0.985);
	}
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes pulse {
	50% {
		opacity: 0.5;
	}
}
