.calendar-picker {
	position: relative;
}

.calendar-trigger {
	height: 36px;
	width: 100%;
	padding: 7px 14px;
	border-radius: 7px;
	border: none;
	background: var(--color-input-background);
	color: var(--color-text-main);
	font-size: 14px;
	box-shadow: var(--shadow-input-select-border);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.calendar-trigger:hover {
	background-color: var(--color-bg-input);
}

.calendar {
	position: absolute;
	left: 0;
	width: 320px;
	padding: 16px;
	border-radius: 12px;
	background: var(--color-bg-card);
	border: none;
	box-shadow: var(--shadow-input-select-border);
	color: white;
	z-index: 50;
}

.calendar-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 13px;
	font-weight: 600;
	margin-bottom: 12px;
	color: var(--color-text-main);
}

.calendar-header button {
	width: 30px;
	height: 30px;
	border-radius: 8px;
	border: none;
	box-shadow: var(--shadow-input-select-border);
	background: var(--color-bg-card);
	color: var(--color-input-color);
	cursor: pointer;
}

.calendar-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 6px;
}

.day-name {
	text-align: center;
	font-size: 12px;
	color: var(--color-text-main);
}

.day {
	height: 36px;
	display: grid;
	place-items: center;
	border-radius: 8px;
	cursor: pointer;
	font-size: 14px;
	color: var(--color-text-main);
	border: 1px solid transparent;
}

.day:hover {
	/* border: 1px solid #2a2a2d;
	background: #111114; */
	background: #3b82f6;
	border-color: #3b82f6;
	color: #fff;
}

.selected {
	background: #3b82f6;
	border-color: #3b82f6;
	color: #fff;
}

.empty {
	pointer-events: none;
}
